@import url(http://fonts.googleapis.com/css?family=Oswald:400,300,700);
* {
    font-family: 'Oswald', sans-serif;
}
/* Intro Section */

#intro {
    background-image: url('../img/intro.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
#intro_header {
    font-size: 8em;
    background-color: rgba(0, 0, 0, 0.62);
    padding: 0.1em 0.2em 0.1em 1em;
    color: white;
}
#intro_desc {
    font-size: 4em;
    background-color: rgb(64, 89, 142);
    padding: 0.1em 0.2em 0.1em 1em;
    color: white;
}
/* Parallax Sections */

.parallax_bg {
    /* Background image is centered vertically and horizontally at all times */
    
    background-position: center center;
    /* Background image doesn't tile */
    
    background-repeat: no-repeat;
    /* Background image is fixed in the viewport so that it doesn't move when 
     the content's height is greater than the image's height */
    
    background-attachment: fixed;
    /* This is what makes the background image rescale based
     on the container's size */
    
    background-size: cover;
    /* Set a background color that will be displayed
     while the background image is loading */
    
    background-color: #00468C;
    height: 43em;
}
#slide1 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide1.jpg');
}
#slide2 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide2.jpg');
}
#slide3 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide3.jpg');
}
#slide4 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide4.jpg');
}
#slide5 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide5.jpg');
}
#slide6 div:first-child {
    /* Location of the image */
    
    background-image: url('../img/slide6.jpg');
}
.txt-black {
    color: black;
}
.txt-white {
    color: white;
}
/* Navbar Hover Animation */

.navbar-nav>li {
    background-color: #222;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    -o-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out;
}
.navbar-nav>li:hover {
    background-color: rgb(137, 7, 7);
}
/* Title Styles */

h1 {
    font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, "AppleGothic", sans-serif;
    font-size: 70px;
    padding: 0 0 30px 0;
    text-transform: uppercase;
    text-rendering: optimizeLegibility;
}
h1.elegantshadow {
    color: #131313;
    letter-spacing: .15em;
    text-shadow: 1px -1px 0 #767676, -1px 2px 1px #737272, -2px 4px 1px #767474, -3px 6px 1px #787777, -4px 8px 1px #7b7a7a, -5px 10px 1px #7f7d7d, -6px 12px 1px #828181, -7px 14px 1px #868585, -8px 16px 1px #8b8a89, -9px 18px 1px #8f8e8d, -10px 20px 1px #949392, -11px 22px 1px #999897, -12px 24px 1px #9e9c9c, -13px 26px 1px #a3a1a1, -14px 28px 1px #a8a6a6, -15px 30px 1px #adabab, -16px 32px 1px #b2b1b0, -17px 34px 1px #b7b6b5, -18px 36px 1px #bcbbba, -19px 38px 1px #c1bfbf, -20px 40px 1px #c6c4c4, -21px 42px 1px #cbc9c8, -22px 44px 1px #cfcdcd, -23px 46px 1px #d4d2d1, -24px 48px 1px #d8d6d5, -25px 50px 1px #dbdad9, -26px 52px 1px #dfdddc, -27px 54px 1px #e2e0df, -28px 56px 1px #e4e3e2;
}
h1.deepshadow {
    color: #e0dfdc;
    letter-spacing: .1em;
    text-shadow: 0 -1px 0 #ffffff, 0 1px 0 #2e2e2e, 0 2px 0 #2c2c2c, 0 3px 0 #2a2a2a, 0 4px 0 #282828, 0 5px 0 #262626, 0 6px 0 #242424, 0 7px 0 #222222, 0 8px 0 #202020, 0 9px 0 #1e1e1e, 0 10px 0 #1c1c1c, 0 11px 0 #1a1a1a, 0 12px 0 #181818, 0 13px 0 #161616, 0 14px 0 #141414, 0 15px 0 #121212, 0 22px 30px rgba(0, 0, 0, 0.9);
}
h1.insetshadow {
    color: #202020;
    letter-spacing: .1em;
    text-shadow: -1px -1px 1px #111111, 2px 2px 1px #363636;
}
h1.retroshadow {
    color: #2c2c2c;
    letter-spacing: .05em;
    text-shadow: 3px 3px 0px #ffffff, 2px 3px 0px rgba(0, 0, 0, 0.2);
}
/* Hacked Bootstrap CSS */

.carousel-inner>.item>a>img, .carousel-inner>.item>img {
    line-height: 1;
    margin: 0 auto;
}
.carousel-control.left, .carousel-control.right {
    background-image: none;
}
.carousel-control .glyphicon-chevron-left, .carousel-control .glyphicon-chevron-right, .carousel-control .icon-next, .carousel-control .icon-prev {
    width: 40px;
    height: 40px;
    margin-top: -15px;
    font-size: 20px;
    background-color: rgb(27, 90, 205);
    padding: 0.45em;
    border-radius: 50%;
}
/*------------------------------------------------------------------------------*/
/* Media Queries */
/* Large desktop */

@media (min-width: 1200px) {}
/* Portrait tablet to landscape and desktop */

@media (min-width: 768px) and (max-width: 979px) {
    #intro_header {
        font-size: 6em;
    }
    #intro_desc {
        font-size: 3em;
    }
    h1 {
        font-size: 60px;
    }
    #slide1 div:first-child {
        height: 38em;
    }
    #slide2 div:first-child {
        height: 38em;
    }
    #slide3 div:first-child {
        height: 38em;
    }
    #slide4 div:first-child {
        height: 38em;
    }
    #slide5 div:first-child {
        height: 38em;
    }
    #slide6 div:first-child {
        height: 38em;
    }
}
/* Landscape phone to portrait tablet */

@media (max-width: 767px) {
    #intro_header {
        font-size: 4em;
    }
    #intro_desc {
        font-size: 2em;
    }
    h1 {
        font-size: 50px;
    }
    #slide1 div:first-child {
        height: 30em;
    }
    #slide2 div:first-child {
        height: 30em;
    }
    #slide3 div:first-child {
        height: 30em;
    }
    #slide4 div:first-child {
        height: 30em;
    }
    #slide5 div:first-child {
        height: 30em;
    }
    #slide6 div:first-child {
        height: 30em;
    }
}
/* Landscape phones and down */

@media (max-width: 480px) {
    #intro_header {
        font-size: 3em;
    }
    #intro_desc {
        font-size: 1.5em;
    }
    h1 {
        font-size: 30px;
        text-align: center;
    }
    h1.retroshadow {
        color: #2c2c2c;
        letter-spacing: .05em;
        text-shadow: 2px 2px 0px #ffffff, 2px 2px 0px rgba(0, 0, 0, 0.2);
    }
    #slide1 div:first-child {
        height: 20em;
    }
    #slide2 div:first-child {
        height: 20em;
    }
    #slide3 div:first-child {
        height: 20em;
    }
    #slide4 div:first-child {
        height: 20em;
    }
    #slide5 div:first-child {
        height: 20em;
    }
    #slide6 div:first-child {
        height: 20em;
    }
}
